<% provide(:title, 'New Create') %>
<% provide(:intro, '新しいTODOを作成してください。') %>
<%= render "share/errors_message" %>
<div class="container">
  <%= form_for(@task) do |f| %>
  
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
    
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
    
    <%= f.label :duedate %>
    <%= f.date_select :duedate, class: "form-control" %>
    
    
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
